{% extends "base.html" %}

{% block title %}
    Receipts
{% endblock title %}

{% block content %}
    <main>
        <h1>
            Account Summary
        </h1>
        <table>
            <thead>
                <tr>
                    <th>
                        Name
                    </th>
                    <th>
                        Number
                    </th>
                    <th>
                        Number of receipts
                    </th>
                </tr>
            </thead>
            <tbody>
                {% for account in accounts %}
                    <tr>
                        <td>
                            {{ account.name }}
                        </td>
                        <td>
                            {{ account.number }}
                        </td>
                        <td>
                            {{ account.receipts.all.count }}
                        </td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </main>
{% endblock content %}
